/* Marquee Styles */
.marquee-wrapper {
    position: relative;
    overflow: hidden;
    background-color: #F0E9B1; 
    padding: 10px 0;
    white-space: nowrap;
    font-size: larger;
    font-weight: bold;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%; 
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Header Styles */
.art-moon {
    display: flex;
    align-items: center; 
    gap: 10px; 
    font-size: 40px;
    font-weight: bold;
}

.art-moon img {
    vertical-align: middle; 
}

.header-titles {
    display: flex; 
    justify-content: space-around; 
    padding: 0 20px; 
    align-items: center; 
}

.boston-gallery {
    display: flex;
    font-size: 40px;
    font-weight: bold;
    text-align: center; 
    position: relative; 
}

.boston-gallery::before,
.boston-gallery::after {
    content: "~"; 
    font-size: 40px;
    font-weight: bold;
    position: absolute;  
    top: 50%; 
    transform: translateY(-50%); 
}

.boston-gallery::before {
    left: -50px; 
}

.boston-gallery::after {
    right: -50px; 
}

/* Divider Styles */
.divider {
    width: 100%; 
    height: 1px; 
    background-color: rgb(85, 84, 84); 
    margin-top: 5px; 
}

/* Menu Container Styles */
.menu-container {
    display: flex;
    justify-content: space-between; /* Space between menu and profile avatar */
    padding: 20px;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-categories {
    display: flex;
    align-items: center;
}

.menu-categories a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border-right: 1px solid #ccc;
}

.menu-categories a:last-child {
    border-right: none;
}

.menu-categories a:hover {
    background-color: #f0f0f0;
}

/* User Profile Styles */
.user-profile {
    position: relative;
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    cursor: pointer; 
    margin-left: 20px; /* Space between menu and avatar */
}

.dropdown-menu {
    display: none; 
    position: absolute;
    top: 50px; 
    right: 0; 
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    width: 150px; 
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

/* Show Dropdown Menu */
.show {
    display: block;
}

/* Hero Block Styles */
.row {
    margin-bottom: 60px; /* Space below the hero section */
}

.img-fluid {
    margin-left: 20px; /* Space between the image and the text */
}